body {
    position: relative;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 7rem;
}
body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 7rem;
}
.blog__item {
    position: relative;
    padding-top: 48px;
    padding-bottom: 30px;
}
.blog__item img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.blog__item__text {
    padding: 30px 0 30px 10px;
}
.blog__item__text a {
    color: black;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 3px 0;
    position: relative;
    text-decoration: none;
}
.blog__item__text a span {
    width: 40%;
    border-radius: 30px;
    display: block;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.25s linear;
}
.blog__item__text a:hover span {
    width: 100%;
    background-color: #4650dd;
}

.cateIndex {
    padding-top: 0;
}
.cateInde-item img {
    display: block;
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
}

.cateInde-item a {
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 12px 0 16px;
    padding: 0 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
    font-weight: initial;
}
.btn-pr-index {
    display: flex;
    justify-content: center;
    align-items: center;
}
.CountDown-box {
    display: flex;
    justify-content: space-between;
}
.CountDown {
    display: flex;
    align-items: center;
}
.CountDown > div {
    font-size: 13px;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 5px;
    color: #707a8a;
}
.price-base {
    text-decoration: line-through;
}
.icon-Clock {
    padding-right: 3px;
    color: #707a8a;
    font-size: 13px;
}
.pro-user {
    font-size: 13px;
    font-weight: bold;
    color: #707a8a;
}
.pro-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #707a8a;
    font-weight: 600;
}
.pro-price span {
    color: black;
    font-size: 18px;
}
.pro-title {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.pro-text {
    padding-bottom: 20px;
}
.icon-nav {
    position: relative;
    cursor: pointer;
}
.icon-nav svg{
    font-size: 20px !important;
}
.price-detail-box {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.price-detail-box label {
    padding-right: 15px;
}
.detail-price-time {
    display: flex;
    justify-content: space-between;

}

.CountDown.CountDown-detail > span {
    display: none;
}
.CountDown.CountDown-detail > div
{
    font-size: 18px;
    padding: 0 25px;
    position: relative;
}
.CountDown-detail .item-countdown {
    width: auto;
}
.CountDown-detail  div:after {
    font-size: 18px;
    position: absolute;
    bottom: -30px;
    font-weight: 400;
}
.CountDown-detail  div:nth-child(2)::after {
    content: 'Day';
    left: 18px;
}
.CountDown-detail  div:nth-child(3)::after {
    content: 'Hour';
    left: 15px;
}
.CountDown-detail  div:nth-child(4)::after {
    content: 'Minute';
    left: 8px;
}
.CountDown-detail  div:nth-child(5)::after {
    content: 'Second';
    left: 8px;
}
#search-nav {
    background-color: white;
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 20px #8d8d8d;
    padding: 20px;
    transform: translateX(110%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
}
#search-nav.active {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
}
#search-nav form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#close-nav-search {
    text-align: right;
    padding-bottom: 20px;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}










/*Boostrap 5 col*/
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}


.input-group-prepend span {
    padding: 10px 24px !important;
}
.font-weight-bold {
    font-weight: bold;
}
.buton-cus {
    border-radius: 5px;
}

.up-image-item {
    position: relative;
}
.up-image-item label {
    cursor: pointer;
}
.up-image-item label img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.close-up-image {
    position: absolute;
    top: 0;
    left: 12px;
    z-index: 100;
}
.close-up-image button {
    padding: 5px;
    background-color: #f50622;
}
.product .img-fluid {
    height: 275px;
    width: 100%;
    object-fit: cover;
}
.btn-search.btn-primary {
    background-color: #4650dd;
}
.cate-shop {
    cursor: pointer;
}
.cate-shop:hover,
.cate-shop:hover ~ span{
    color: #0b5ed7 !important;
}

.cate-shop.active,
.cate-shop.active ~ span{
    color: #0b5ed7 !important;
}

.detail-item h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.glightbox .img-fluid {
    width: 100%;
    max-height: 523px;
    object-fit: cover;
}



.user-login {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.user-login img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.user-login span {
    padding-left: 10px;
    font-size: 15px;
}
.flec {
    display: flex;
    align-items: center;
}


.navbar .dropdown-menu.login-tag.show {
    right: 0;
}
.navbar .dropdown-menu.login-tag .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.user-login-con {
    display: flex;
    align-items: center;
}



.change-img-box {
    position: relative;
}
#icon-edit-img {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #9a9999;
    border: none;
    outline: none;
}
#icon-edit-img > .fa-pencil {
    color: black;
}


.pending {
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
}
.t-black {
    background-color: #2d2d2d;
}
.t-green {
    background-color: #8089fd;
}

.item-countdown {
    width: 26px;
    height: 20px;
}


/*Notification*/
#toat {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
.toat {
    margin: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px 5px #cccc;
    padding: 15px 20px;
    z-index: 10;
    transition: ease all 0.3s;
    animation: FadeIn 0.3s ease forwards 2s;
}

@keyframes FadeIn {
    0%{
        opacity: 0;
        transform: translateX(calc(100% + 30px));
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.toat.success {
    border-left: 5px solid #4650dd;
}
.icon.success {
    color: #4650dd;
}

.text-Noti {
    padding: 0 15px;
    flex-grow: 1;
}
.text-Noti h3{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
.text-Noti p {
    margin: 0;
}

.close-Noti {
    cursor: pointer;
    padding: 10px;
}

#noti-alert {
    display: none;
}
#noti-alert.active {
    display: block;
}


/*Loading*/
#loading {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000000;
    background-color: #343434;
    overflow: hidden;
    animation: loading 3s ease forwards;
}
@keyframes loading {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
#load {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#load > div {
    width: 80px;
    height: 80px;
    background-color: transparent;
    position: absolute;
    transform: rotate(calc(var(--value)*45deg));
}
#load > div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #4650dd;
    /*filter: hue-rotate(calc(var(--value)*45deg));*/
    animation: load 1s infinite ;
    animation-delay: calc(var(--value) * 0.125s);
    animation-timing-function: linear;
}

@keyframes load {
    to {
        transform: scale(0);
    }
}
